<%= turbo_frame_tag dom_id(@task) do %>
    <div class="m-5">
        <div class="box mt-5">
            <h1 class="title">Edit Task</h1>
                <%= render "form"%>
                <%= link_to "cancel", @task, class: "button is-danger"%>
        </div>
    </div>
<% end %>