<%= turbo_frame_tag "task_form" do %>
    <div class="m-5">
        <div class="box mt-5">
            <h1 class="title">New Task</h1>
                <%= render "form"%>
        </div>
    </div>
<% end %>